* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 30px;
  color: #417c9e;
  margin-left: 15px;
}

h4 {
  font-size: 20px;
  color: #417c9e;
}

header {
  text-align: center;
}

header #logo {
  display: inline-block;
}

header ul li {
  display: inline-block;
  padding: 5px 2px 2px 2px;
  margin-right: 10px;
  color: black;
}

header .active {
  background-color: #b6dbe4;
}

header #hamburger {
  display: none;
  width: 50px;
  color: #b6dbe4;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  header .nav-menu {
    display: none;
  }

  header #hamburger {
    display: inline-block;
  }
}

main section {
  background-image: url("/../../img/sfondo.jpg");
}

main .cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

main .card {
  width: calc(100% / 3 - 30px);
  height: auto;
  position: relative;
  margin: 15px;
  overflow: hidden;
  transition: 0.3s;
}

main .card img {
  width: 100%;
  transition: 0.3s;
}

main .card .card-hover {
  text-align: center;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

main .card:hover img {
  transform: scale(1.1);
}

main .card:hover .card-hover {
  display: flex;
}

@media only screen and (max-width: 768px) {
  main .card {
    width: calc(100% /2 - 30px);
  }
}

@media only screen and (max-width: 500px) {
  main .card {
    width: calc(100% - 30px);
  }
}

footer {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url("/../../img/sfondo-footer.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

footer .div-footer {
  margin: 15px;
  width: calc(100% / 3 - 30px);
}

footer ul li {
  list-style: none;
  font-size: 20px;
  color: #417c9e;
  padding: 3px 0;
}

@media only screen and (max-width: 768px) {
  footer .div-footer {
    width: calc(100% /2 - 30px);
  }
}

@media only screen and (max-width: 500px) {
  footer .div-footer {
    width: calc(100% - 30px);
  }
}

.prodotto-fullwidth {
  color: #002d75;
  background-color: #b8dae4;
  padding: 20px 0;
}

.prodotto-fullwidth .prodotto {
  width: 80%;
  margin: 0 auto;
}

.prodotto-fullwidth .prodotto img {
  width: 100%;
}

.prodotto-fullwidth .prodotto h1 {
  font-size: 30px;
  text-align: center;
}

.prodotto-fullwidth .prodotto p {
  margin-top: 20px;
  font-size: 20px;
}

