a {
    text-decoration: none;
    color: $primary_color;
}

h2 {
    font-size: 30px;
    color: $secondary_color;
    margin-left: 15px;
}

h4 {
    font-size: 20px;
    color: $secondary_color;
}


.disabled {
    visibility: hidden;
}
